.auth-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ff0080, #8000ff, #00eaff, #ffbf00);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }
  
  /* Smooth Background Animation */
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  